<a href="https://colab.research.google.com/github/Juland75roles/BD-GLC/blob/main/Expos%C3%A9_BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install pyspark -q
!pip install findspark -q

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Apache Project").getOrCreate()

Télechargement des données

In [12]:
!wget https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType-DOWNLOAD

--2024-11-27 14:45:14--  https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType-DOWNLOAD
Resolving data.cityofchicago.org (data.cityofchicago.org)... 174.129.43.10, 100.28.82.57, 35.170.133.124
Connecting to data.cityofchicago.org (data.cityofchicago.org)|174.129.43.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv?accessType-DOWNLOAD’

rows.csv?accessType     [           <=>      ]   1.81G  2.68MB/s    in 11m 2s

2024-11-27 14:56:16 (2.79 MB/s) - ‘rows.csv?accessType-DOWNLOAD’ saved [1939034211]

In [13]:
!mv rows.csv\?accessType-DOWNLOAD crimes.csv

Lecture du fichier des données

In [14]:
df = spark.read.csv(
    'crimes.csv',
)

df.show(5)

+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|     _c0|        _c1|                 _c2|                 _c3| _c4|               _c5|                 _c6|                 _c7|   _c8|     _c9|_c10|    _c11|_c12|          _c13|    _c14|        _c15|        _c16|_c17|                _c18|    _c19|     _c20|    _c21|
+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|      ID|Case Number|                Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|Latitude|Longitude|Location|
|11037294|   JA371270|03/18/2015 12:00:...|   0000X W WACKER DR|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                BANK| false|   false|0111|     001|  42|            32|      11|        NULL|        NULL|2015|08/01/2017 03:52:...|    NULL|     NULL|    NULL|
|11646293|   JC213749|12/20/2018 03:00:...|023XX N LOCKWOOD AVE|1154|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|2515|     025|  36|            19|      11|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
|11645836|   JC212333|05/01/2016 12:25:...| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                NULL| false|   false|0824|     008|  15|            63|      11|        NULL|        NULL|2016|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
|11645959|   JC211511|12/20/2018 04:00:...|  045XX N ALBANY AVE|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|   false|1724|     017|  33|            14|     08A|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
only showing top 5 rows

In [48]:
df.count()

8207111

In [49]:
type(df)

pyspark.sql.dataframe.DataFrame

In [50]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)

In [22]:
from pyspark.sql.functions import to_timestamp, col

In [51]:
df = df.withColumn(
    '_c2',
    to_timestamp(col('_c2'), 'MM/dd/yyyy hh:mm:ss a')
)

df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: timestamp (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)

In [ ]:
df.show(5)

+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+-------------------+
|     _c0|        _c1|                _c2|                 _c3| _c4|               _c5|                 _c6|                 _c7|   _c8|     _c9|_c10|    _c11|_c12|          _c13|    _c14|        _c15|        _c16|_c17|                _c18|    _c19|     _c20|    _c21|               Date|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+-------------------+
|      ID|Case Number|               NULL|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|Latitude|Longitude|Location|               NULL|
|11037294|   JA371270|2015-03-18 12:00:00|   0000X W WACKER DR|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                BANK| false|   false|0111|     001|  42|            32|      11|        NULL|        NULL|2015|08/01/2017 03:52:...|    NULL|     NULL|    NULL|2015-03-18 12:00:00|
|11646293|   JC213749|2018-12-20 15:00:00|023XX N LOCKWOOD AVE|1154|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|2515|     025|  36|            19|      11|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|2018-12-20 15:00:00|
|11645836|   JC212333|2016-05-01 00:25:00| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                NULL| false|   false|0824|     008|  15|            63|      11|        NULL|        NULL|2016|04/06/2019 04:04:...|    NULL|     NULL|    NULL|2016-05-01 00:25:00|
|11645959|   JC211511|2018-12-20 16:00:00|  045XX N ALBANY AVE|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|   false|1724|     017|  33|            14|     08A|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|2018-12-20 16:00:00|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+-------------------+
only showing top 5 rows

In [ ]:
df.columns

['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11',
 '_c12',
 '_c13',
 '_c14',
 '_c15',
 '_c16',
 '_c17',
 '_c18',
 '_c19',
 '_c20',
 '_c21',
 'Date']

In [ ]:
df.select(col('_c4')).show(5)

+----+
| _c4|
+----+
|IUCR|
|1153|
|1154|
|1153|
|2820|
+----+
only showing top 5 rows

In [ ]:
df.select('_c2', '_c6', '_c8').show(5)

+-------------------+--------------------+------+
|                _c2|                 _c6|   _c8|
+-------------------+--------------------+------+
|               NULL|         Description|Arrest|
|2015-03-18 12:00:00|FINANCIAL IDENTIT...| false|
|2018-12-20 15:00:00|FINANCIAL IDENTIT...| false|
|2016-05-01 00:25:00|FINANCIAL IDENTIT...| false|
|2018-12-20 16:00:00|    TELEPHONE THREAT| false|
+-------------------+--------------------+------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import lit

In [54]:
df.withColumn('One', lit(1)).show(5)

+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+---+
|     _c0|        _c1|                _c2|                 _c3| _c4|               _c5|                 _c6|                 _c7|   _c8|     _c9|_c10|    _c11|_c12|          _c13|    _c14|        _c15|        _c16|_c17|                _c18|    _c19|     _c20|    _c21|One|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+---+
|      ID|Case Number|               NULL|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|Latitude|Longitude|Location|  1|
|11037294|   JA371270|2015-03-18 12:00:00|   0000X W WACKER DR|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                BANK| false|   false|0111|     001|  42|            32|      11|        NULL|        NULL|2015|08/01/2017 03:52:...|    NULL|     NULL|    NULL|  1|
|11646293|   JC213749|2018-12-20 15:00:00|023XX N LOCKWOOD AVE|1154|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|2515|     025|  36|            19|      11|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|  1|
|11645836|   JC212333|2016-05-01 00:25:00| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                NULL| false|   false|0824|     008|  15|            63|      11|        NULL|        NULL|2016|04/06/2019 04:04:...|    NULL|     NULL|    NULL|  1|
|11645959|   JC211511|2018-12-20 16:00:00|  045XX N ALBANY AVE|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|   false|1724|     017|  33|            14|     08A|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|  1|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+---+
only showing top 5 rows

In [55]:
#Crimes signalés le 25-12-2023
one_day = df.filter(col('_c2') == lit('2023-12-25'))
one_day

DataFrame[_c0: string, _c1: string, _c2: timestamp, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string, _c21: string]

In [56]:
one_day.count()

24

In [57]:
one_day.show()

+--------+--------+-------------------+--------------------+----+--------------------+--------------------+--------------------+-----+-----+----+----+----+----+----+-------+-------+----+--------------------+------------+-------------+--------------------+
|     _c0|     _c1|                _c2|                 _c3| _c4|                 _c5|                 _c6|                 _c7|  _c8|  _c9|_c10|_c11|_c12|_c13|_c14|   _c15|   _c16|_c17|                _c18|        _c19|         _c20|                _c21|
+--------+--------+-------------------+--------------------+----+--------------------+--------------------+--------------------+-----+-----+----+----+----+----+----+-------+-------+----+--------------------+------------+-------------+--------------------+
|13318703|JG554228|2023-12-25 00:00:00|     035XX W 58TH ST|5001|       OTHER OFFENSE|OTHER CRIME INVOL...|           APARTMENT|false|false|0822| 008|  14|  63|  26|1153847|1865929|2023|01/01/2024 03:41:...|41.787939234|-87.711447285|(41.787939234, -8...|
|13321478|JG557372|2023-12-25 00:00:00| 077XX S ASHLAND AVE|1130|  DECEPTIVE PRACTICE|FRAUD OR CONFIDEN...|           APARTMENT|false|false|0612| 006|  17|  71|  11|1167016|1853492|2023|01/01/2024 03:41:...|41.753538951|-87.663516805|(41.753538951, -8...|
|13318884|JG554431|2023-12-25 00:00:00|054XX W FULLERTON...|0560|             ASSAULT|              SIMPLE|           APARTMENT|false| true|2515| 025|  31|  19| 08A|1139841|1915427|2023|01/01/2024 03:41:...|41.924035234|-87.761594059|(41.924035234, -8...|
|13318368|JG553821|2023-12-25 00:00:00| 010XX N LA SALLE DR|0560|             ASSAULT|              SIMPLE|            SIDEWALK|false|false|1824| 018|   2|   8| 08A|1174943|1907477|2023|01/01/2024 03:41:...|41.901505411| -87.63285424|(41.901505411, -8...|
|13318475|JG553993|2023-12-25 00:00:00| 078XX S LANGLEY AVE|0810|               THEFT|           OVER $500|              STREET|false|false|0624| 006|   6|  69|  06|1182252|1853243|2023|01/01/2024 03:41:...|41.752516599| -87.60769045|(41.752516599, -8...|
|13320136|JG555955|2023-12-25 00:00:00|    059XX N NEVA AVE|0820|               THEFT|      $500 AND UNDER|              STREET|false|false|1612| 016|  41|  10|  06|1127703|1939053|2023|01/01/2024 03:41:...|41.989081057|-87.805660262|(41.989081057, -8...|
|13319432|JG555008|2023-12-25 00:00:00|097XX S MICHIGAN AVE|0560|             ASSAULT|              SIMPLE|           RESIDENCE|false| true|0511| 005|   9|  49| 08A|1178864|1840441|2023|01/01/2024 03:41:...|41.717464086|-87.620494507|(41.717464086, -8...|
|13321436|JG554999|2023-12-25 00:00:00|  027XX W MEDILL AVE|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET|false|false|1431| 014|   1|  22|  07|1157667|1915493|2023|01/01/2024 03:41:...|41.923871514|-87.696092023|(41.923871514, -8...|
|13321988|JG554563|2023-12-25 00:00:00|036XX N MAGNOLIA AVE|0930| MOTOR VEHICLE THEFT|THEFT / RECOVERY ...|              STREET|false|false|1923| 019|  44|   6|  07|1167308|1924397|2023|01/01/2024 03:41:...|41.948102465|-87.660410519|(41.948102465, -8...|
|13318496|JG554028|2023-12-25 00:00:00|  002XX N WALLER AVE|0820|               THEFT|      $500 AND UNDER|              STREET|false|false|1512| 015|  29|  25|  06|1138112|1901061|2023|01/01/2024 03:41:...|41.884644659|-87.768294892|(41.884644659, -8...|
|13318892|JG554441|2023-12-25 00:00:00|088XX S CARPENTER ST|0920| MOTOR VEHICLE THEFT|ATTEMPT - AUTOMOBILE|              STREET|false|false|2222| 022|  21|  71|  07|1170860|1846267|2023|01/01/2024 03:41:...|41.733629585|-87.649640304|(41.733629585, -8...|
|13320360|JG555939|2023-12-25 00:00:00|  047XX N RACINE AVE|0265|CRIMINAL SEXUAL A...|  AGGRAVATED - OTHER|           APARTMENT|false|false|1913| 019|  46|   3|  02|1167458|1931452|2023|01/01/2024 03:41:...|41.967458424|-87.659655286|(41.967458424, -8...|
|13319398|JG555051|2023-12-25 00:00:00|  030XX W JARLATH ST|0430|             BATTERY|AGGRAVATED - OTHE...|           RESIDENCE|false|false|2411| 024|  50|   2| 04B|1154979|1947902|2023|01/01/2024 03:41:...|42.012858093|-87.705095615|(42.012858093, -8...|
|13318532|JG554056|2023-12-25 00:00:00|   006XX W MONROE ST|1320|     CRIMINAL DAMAGE|          TO VEHICLE|              STREET|false|false|0121| 001|  34|  28|  14|1172243|1899816|2023|01/01/2024 03:41:...|41.880543228|-87.642997936|(41.880543228, -8...|
|13319146|JG554711|2023-12-25 00:00:00|034XX W IRVING PA...|0920| MOTOR VEHICLE THEFT|ATTEMPT - AUTOMOBILE|              STREET|false|false|1723| 017|  33|  16|  07|1152802|1926381|2023|01/01/2024 03:41:...| 41.95384684|-87.713678833|(41.95384684, -87...|
|13321425|JG557395|2023-12-25 00:00:00|   019XX W OGDEN AVE|1220|  DECEPTIVE PRACTICE|THEFT OF LOST / M...|VEHICLE - OTHER R...|false|false|1225| 012|  28|  28|  11|1163673|1897489|2023|01/01/2024 03:41:...|41.874342594|-87.674531651|(41.874342594, -8...|
|13318458|JG553938|2023-12-25 00:00:00|     027XX W 68TH ST|0460|             BATTERY|              SIMPLE|HOSPITAL BUILDING...|false|false|0831| 008|  16|  66| 08B|1159381|1859440|2023|01/01/2024 03:41:...|41.770020864|  -87.6913338|(41.770020864, -8...|
|13320187|JG556018|2023-12-25 00:00:00|   010XX W TAYLOR ST|0820|               THEFT|      $500 AND UNDER|              STREET|false|false|1232| 012|  34|  28|  06|1169951|1895772|2023|01/01/2024 03:41:...|41.869496477|-87.651531841|(41.869496477, -8...|
|13318663|JG554118|2023-12-25 00:00:00| 004XX S FRANKLIN ST|0810|               THEFT|           OVER $500|PARKING LOT / GAR...|false|false|0122| 001|  34|  32|  06|1174386|1898413|2023|01/01/2024 03:41:...|41.876645737|-87.635171022|(41.876645737, -8...|
|13318726|JG554241|2023-12-25 00:00:00|   020XX S MORGAN ST|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET|false|false|1235| 012|  25|  31|  07|1170010|1890399|2023|01/01/2024 03:41:...|41.854751251|-87.651471903|(41.854751251, -8...|
+--------+--------+-------------------+--------------------+----+--------------------+--------------------+--------------------+-----+-----+----+----+----+----+----+-------+-------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

In [58]:
one_day.distinct().count()

24

In [15]:
df.distinct().count()

8207796

In [16]:
df.groupBy('_c5').count().show()

+--------------------+-------+
|                 _c5|  count|
+--------------------+-------+
|OFFENSE INVOLVING...|  58791|
|CRIMINAL SEXUAL A...|   9720|
|            STALKING|   5647|
|PUBLIC PEACE VIOL...|  53848|
|           OBSCENITY|    898|
|               ARSON|  14067|
|            GAMBLING|  14651|
|   CRIMINAL TRESPASS| 221954|
|             ASSAULT| 544912|
|LIQUOR LAW VIOLATION|  15205|
| MOTOR VEHICLE THEFT| 415454|
|               THEFT|1738032|
|             BATTERY|1496376|
|             ROBBERY| 308922|
|            HOMICIDE|  13557|
|           RITUALISM|     24|
|    PUBLIC INDECENCY|    208|
| CRIM SEXUAL ASSAULT|  27422|
|   HUMAN TRAFFICKING|    105|
|        INTIMIDATION|   4981|
+--------------------+-------+
only showing top 20 rows

In [20]:
df.select("_c8").distinct().show()

+------+
|   _c8|
+------+
|Arrest|
| false|
|  true|
+------+

In [23]:
df.filter(col("_c8") == "true").count() / df.select("_c8").count()

0.25458527478022114

In [24]:
n_location = df.groupBy("_c7").count()
n_location.show()

+--------------------+------+
|                 _c7| count|
+--------------------+------+
|   RAILROAD PROPERTY|    16|
|SCHOOL - PRIVATE ...|  1260|
|AIRPORT TERMINAL ...|  2582|
|VEHICLE - COMMERCIAL|  1074|
|POLICE FACILITY/V...| 18566|
|RESIDENCE - YARD ...| 13517|
|CHA PARKING LOT /...|  2089|
|            SIDEWALK|751586|
|AIRPORT TERMINAL ...|   142|
|OTHER RAILROAD PR...|   593|
|CTA GARAGE / OTHE...| 10276|
|            CAR WASH|  3524|
|    AIRPORT/AIRCRAFT| 16296|
|            HOSPITAL|    17|
|MEDICAL/DENTAL OF...|  7430|
|    FEDERAL BUILDING|  1035|
|         CTA STATION|  7500|
|SCHOOL, PUBLIC, G...| 30252|
|SPORTS ARENA/STADIUM|  5290|
|                FARM|     9|
+--------------------+------+
only showing top 20 rows

In [25]:
n_location.orderBy('count', ascending=False).show()

+--------------------+-------+
|                 _c7|  count|
+--------------------+-------+
|              STREET|2145469|
|           RESIDENCE|1356655|
|           APARTMENT| 958063|
|            SIDEWALK| 751586|
|               OTHER| 269989|
|PARKING LOT/GARAG...| 202955|
|               ALLEY| 182818|
|  SMALL RETAIL STORE| 161127|
|SCHOOL, PUBLIC, B...| 146372|
|          RESTAURANT| 136671|
|    RESIDENCE-GARAGE| 135412|
|VEHICLE NON-COMME...| 130117|
|RESIDENCE PORCH/H...| 124181|
|    DEPARTMENT STORE| 106604|
|  GROCERY FOOD STORE| 102810|
|         GAS STATION|  91492|
|RESIDENTIAL YARD ...|  75146|
|COMMERCIAL / BUSI...|  66427|
|       PARK PROPERTY|  62024|
|CHA PARKING LOT/G...|  56099|
+--------------------+-------+
only showing top 20 rows

In [26]:
df.groupBy('_c5').count().orderBy('count', ascending=False).show()

+--------------------+-------+
|                 _c5|  count|
+--------------------+-------+
|               THEFT|1738032|
|             BATTERY|1496376|
|     CRIMINAL DAMAGE| 934533|
|           NARCOTICS| 756925|
|             ASSAULT| 544912|
|       OTHER OFFENSE| 509985|
|            BURGLARY| 437057|
| MOTOR VEHICLE THEFT| 415454|
|  DECEPTIVE PRACTICE| 373003|
|             ROBBERY| 308922|
|   CRIMINAL TRESPASS| 221954|
|   WEAPONS VIOLATION| 119719|
|        PROSTITUTION|  70229|
|OFFENSE INVOLVING...|  58791|
|PUBLIC PEACE VIOL...|  53848|
|         SEX OFFENSE|  32958|
| CRIM SEXUAL ASSAULT|  27422|
|INTERFERENCE WITH...|  19409|
|LIQUOR LAW VIOLATION|  15205|
|            GAMBLING|  14651|
+--------------------+-------+
only showing top 20 rows